<html>
  <head>
    
    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'ParkingLotApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    
    <!-- Styles -->
    <link href="{% static 'ParkingLotApp/css/gestion.css' %}" rel="stylesheet">
    <link href="{% static 'ParkingLotApp/css/grid-plazas.css' %}" rel="stylesheet">
  </head>

  <body>

    <!--<h1 class="site-heading text-center text-white d-none d-lg-block">       -->
    <h1 class="display-3 text-center text-white d-none d-lg-block">       
      <span class="site-heading-lower">Gestión de Parkings</span>
    </h1>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
          <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'Home' %}">Gestión de Parkings</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="{% url 'Home' %}">Inicio</a>
              </li>
              <li class="nav-item {% if request.path == '/parkings/' %}active{% endif %} px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="{% url 'ListarParking' %}">Parkings</a>
              </li>
              <li class="nav-item {% if request.path == '/edificios/' %}active{% endif %} px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="{% url 'ListarEdificio' %}">Edificios</a>
              </li>
              <li class="nav-item {% if request.path == '/plantas/' %}active{% endif %} px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="{% url 'ListarPlanta' %}">Plantas</a>
              </li>
              <!-- <li class="nav-item {% if request.path == '/zonas/' %}active{% endif %} px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="{% url 'ListarZona' %}">Zonas</a>
              </li> -->
              <li class="nav-item {% if request.path == '/plazas/' %}active{% endif %} px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="{% url 'ListarPlaza' %}">Plazas</a>
              </li>
 
              <li class="nav-item {% if request.path == '/contacto/' %}active{% endif %} px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="{% url 'Contacto' %}">Contacto</a>
              </li>                          
            </ul>
          </div>
        </div>
    </nav>

    <!-- Aquí irá el contenido que cambiará -->

    {% block content%}
    
    {% endblock %}

    <!-- Hasta aquí el contenido que cambiará -->

    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </p>
        <p class="m-0 mbt">
          <a href="#" class="link">Política de privacidad</a> ·
          <a href="#" class="link">Aviso legal</a> ·
          <a href="#" class="link">Cookies</a>
        </p>
        <p class="m-0 mbt1">&copy; Gestión de Parkings - 2023 - Miguel Soto Lombris</p>
      </div>
    </footer>

    <!-- Bootstrap -->
    <script src="{% static 'ParkingLotApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'ParkingLotApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>